a > h1{
    text-align: center;
    border: 3px solid rgba(2,3,255,0.2);
    transition-duration: 0.5s;
    margin: 10px;
}
a{
    text-decoration: none;
}
a > h1:hover{
    transform: scale(1.02);
}
body > h1{
    text-align: center;
    margin: 10px;
    padding: 1px;
    font-size: 250%;
    color: rgba(2,3,255,0.5);
    border-bottom: 2px solid rgba(255,3,2,0.2);
    border-left:  2px solid rgba(255,3,2,0.2);
    border-right:  2px solid rgba(255,3,2,0.2);
    cursor: context-menu;
    
}

