h1{
    text-align: center;
    font-size: 3em;
    color: rgba(0,0,0, .5);
    letter-spacing: 0.5em;
    padding: 2px;
}
body{
    text-align: center;
    margin: 10vh;
    background: linear-gradient(to right, #E03CEC, #002Aff);
}
h2{
    font-size: 2em;
    color: rgba(0,0,0,0.8);
    padding: 1px;
    letter-spacing: 0.1rem;
}
h3{
    color: rgba(0,0,0,0.8);
    padding: 1px;
    letter-spacing: 0.1rem;
    font-family:monospace;
}